# ---- Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
*.so
*.egg-info/
.dist/
build/
dist/

# ---- Envs / Tools
.venv/
venv/
.env
.env.*

# ---- OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---- Project-specific
diagnose.txt
*.zip
*.tar.gz
*.tar
*.7z

# Local configs
config.ini
*.log
logs/
environment.yml

# Sample/Media (vermeide große Dateien im Repo)
samples/
media/
output/

# Caches
.cache/
.conda_pkgs/
.pipcache/
.torchcache/
.ncnncache/

#debugging
debuging/
saves/
